{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Tasks</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_task') }}" class="btn-large light-blue darken-2">       <!-- this is linking us to the add_task function in routes.py too.. -->
            Add New Note <i class="fas fa-plus-square right"></i>                             <!-- -->      
        </a>
    </div>
</div>

<!-- start of collpasible section and if statement and for loop -->

    <ul class="collapsible">
      {% for task in tasks|sort(attribute="due_date") %}                    <!-- Start of For loop  and added jinja sort option-->
      <li>
          <div class="collapsible-header white-text light-blue darken-4">
              <i class="fas fa-caret-down"></i>
              <strong>{{ task.task_name }}</strong> : {{ task.due_date.strftime("%d %B, %Y") }}     <!-- adding task name , with date and time JINJA Template used-->
              {% if task.is_urgent == True %}
                  <i class="fas fa-exclamation-circle light-blue-text text-lighten-2"></i>            <!-- if URGENT = TRUE then add an exclamation ICON-->
              {% endif %}
          </div>
          <div class="collapsible-body">
              <strong>{{ task.category }}</strong>
              <p>{{ task.task_description }}</p>
              <a href="{{ url_for('edit_task', task_id=task.id)}}" class="btn green accent-4">Edit</a>     <!--as well as call the edit category url, we are passing it the category id -->
              <a href="{{ url_for('delete_task', task_id=task.id)}}" class="btn red">Delete</a>  
          </div>
         
      </li>
      {% endfor %}
  </ul>
          
{% endblock %}